# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
Django<3
django-hvad
django-tagging
django-missing

django-cms
django-filer
cmsplugin-filer
djangocms-text-ckeditor
djangocms-link

django-document-library>=1.6.0
django-countries
